.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}
<<<<<<< HEAD

.link.hover {
  color: #e84a5f;
}
=======
>>>>>>> 464a808e06d48a53626d4cca498559177f0981db
